<!-- This views is to change a project dashboard's info -->
{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/projects/{{project.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit {{project.name}}</legend>
                <label class="form-label">Project Name: </label>
                <input 
                    type="text" 
                    name="name" 
                    value="{{ project.name }}"
                    class="form-control"
                >
                <label class="form-label">Edit Group</label>
                <p style="font-size: 10px;">* Remove or add usernames from the populated group list. Remove any unnecessary commas.</p>
                <input 
                    type="text" 
                    name="group" 
                    value="{{ project.group | join: ", " }}"
                    class="form-control"
                >
            </fieldset>
            <input type="submit" value="Edit Project" class="btn btn-success">
        </form>
        <a href="/projects/{{ project.id }}/" class="btn btn-success">Go Back</a>
    </div>
{% endblock %}