<!-- This view display all the project dashboards for the currently logged in user -->
{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">My Projects</h2>
    <div class="row">
        {% for project in projects %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ project.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Owner: {{ project.owner.username }}
                </h5>
                <!-- Display all the usernames in the group -->
                Members: 
                {% for user in project.group %}
                    <p>{{user}}</p>
                {% endfor %}
                <a href="/projects/{{ project.id }}" class="btn btn-info">
                    View {{ project.name }}
                </a>
            </div>
            <form action="/projects/{{ project.id }}?_method=DELETE" method="POST">
                <input type="submit" value="X" class="btn btn-danger">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}