{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <p>{{ task.name }}</p>
        <p>{{ task.description }}</p>
        <p>{{ task.category }}</p>
        <p>{{ task.owner.username }}</p>
        <p>{{ task.project.name }}</p>
    </div>
{% endblock %}