{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>{{ project.name }}</h2>
        {% if project.owner == userId %}
        <div class="btn-group">

            <a href="/projects/{{ project.id }}/new" class="btn btn-success">Create Task</a>
            <a href="/projects/{{ project.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/projects/{{ project.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
        <div class="row">
            <div class="column"><h2>Backlog</h2>
                {% for task in tasks %}
                    {% if task.category == 'Backlog' or task.category == 'backlog'%}
                    <div class="card">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.owner.username }}</p>
                        <form action="/projects/{{ task.project.id }}/{{task.id}}?_method=DELETE" method="POST">
                            <input type="submit" value="X" class="btn btn-danger">
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="column"><h2>Need Help</h2>
                {% for task in tasks %}
                    {% if task.category == 'Need Help' %}
                    <div class="card">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.owner.username }}</p>
                        <form action="/projects/{{ task.project.id }}/{{task.id}}?_method=DELETE" method="POST">
                            <input type="submit" value="X" class="btn btn-danger">
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="column"><h2>In Progress</h2>
                {% for task in tasks %}
                    {% if task.category == 'In Progress' %}
                    <div class="card">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.owner.username }}</p>
                        <form action="/projects/{{ task.project.id }}/{{task.id}}?_method=DELETE" method="POST">
                            <input type="submit" value="X" class="btn btn-danger">
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="column"><h2>In Review</h2>
                {% for task in tasks %}
                    {% if task.category == 'In Review' %}
                    <div class="card">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.owner.username }}</p>
                        <!-- look at task.project.id again -->
                        <form action="/projects/{{ task.project.id }}/{{task.id}}?_method=DELETE" method="POST">
                            <input type="submit" value="X" class="btn btn-danger">
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="column"><h2>Ready</h2>
                {% for task in tasks %}
                    {% if task.category == 'Ready' %}
                    <div class="card">
                        <h3>{{ task.name }}</h3>
                        <p>{{ task.owner.username }}</p>
                        <form action="/projects/{{ task.project.id }}/{{task.id}}?_method=DELETE" method="POST">
                            <input type="submit" value="X" class="btn btn-danger">
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
          </div> 
    </article>
</div>
{% endblock %}