<!-- This views is to edit a task's info -->
{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/projects/{{ task.project.id }}/{{ task.id }}?_method=PUT" method="POST">
            <fieldset>
                <legend><h4>Edit {{task.name}}</h4></legend>
                <label class="form-label">Name: </label>
                <input 
                    type="text" 
                    name="name" 
                    value="{{ task.name }}"
                    class="form-control"
                >
                <br>
                <label class="form-label">Category: </label>
                <select name="category" class="form-control">
                    <option 
                        {% if task.category == 'Backlog' %}
                            selected
                        {% endif %}
                    >Backlog</option>
                    <option
                        {% if task.category == 'Need Help' %}
                            selected
                        {% endif %}
                    >Need Help</option>
                    <option
                        {% if task.category == 'In Progress' %}
                            selected
                        {% endif %}
                    >In Progress</option>
                    <option
                        {% if task.category == 'In Review' %}
                            selected
                        {% endif %}
                    >In Review</option>
                    <option
                        {% if task.category == 'Ready' %}
                            selected
                        {% endif %}    
                    >Ready</option>
                </select>
                <br>
                <label class="form-label">Description: </label>
                <br>
                <textarea name="description" cols="30" rows="10" placeholder="{{ task.description }}"></textarea>
            </fieldset>
            <input type="submit" value="Edit Task" class="btn btn-success">
        </form>
        <br>
        <a href="/projects/{{ task.project.id }}/{{ task.id }}/view" class="btn btn-success">Go Back</a>
    </div>
{% endblock %}