<!-- This view renders a single task -->
{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <h2>Task Name: {{ task.name }}</h2>
        <p>Description: {{ task.description }}</p>
        <p>Category: {{ task.category }}</p>
        <p>Owner: {{ task.owner.username }}</p>
        <p>Name: {{ task.project.name }}</p>
        <!-- The task owner or project owner are only allowed to use these buttons -->
        {% if task.owner.id == userId or project.owner.username == username%}
            <a href="/projects/{{ task.project.id }}/{{ task.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/projects/{{ task.project.id }}/{{ task.id }}?_method=DELETE" method="POST">
                <input type="submit" value="X" class="btn btn-danger">
            </form>
        {% endif %}
        <div class="col-md-6">
            <form action="/comments/{{task.project.id}}/{{task.id}}" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="note" placeholder="Enter comment here...">
                </fieldset>
                <input type="submit" class="btn btn-success" value="Add Comment">
            </form>
        </div>
        <!-- We need and if statement -->
        <!-- This will solve a potential problem -->
        <!-- If the fruit has no comments, we won't even try to show any -->
        {% if task.comments.length > 0 %}
            <!-- Here we'll add our comment container -->
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <!-- Here we need to loop over the comments -->
                    <!-- For every comment, render a comment.liquid block -->
                    {% for comment in task.comments %}
                        {% render '../comment.liquid', comment: comment, userId: userId, task: task %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <a href="/projects/{{ task.project.id }}/" class="btn btn-success">Go Back</a>
    </div>
{% endblock %}